<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Series</h2>
                <br>
            </div>
        </div>

        <div *ngIf="loading; else listBlock">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
            </div>
        </div>
        <ng-template #listBlock>
            <!-- filtras aprasytas paprastai componente -->
            <!-- <div class="container">
            <button *ngFor="let t of genres$ | async" type="button" class="btn btn-primary mb-3" (click)="setGenreFilter(t.id)">{{t.name}}</button>
        </div>-->

            <!-- filtras atskiram componente -->
            <!--<app-genre-filter-buttons [genresInDifferentComponent$]="genres$" (filterEvent)=setGenreFilter($event)></app-genre-filter-buttons>-->

            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let h of myserieHeaders">{{h.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of myseries$ | async; let ind = index;">
                        <!--| tvseriesGenreFilter: genreFilter-->
                        <th>{{ind+1}}</th>
                        <th>{{i.name}}</th>
                        <th>{{i.description}}</th>
                        <th>
                            <button [disabled]="i.series.length === 0" class="btn btn-outline-primary" (click)="open(modal, ind)">
                                <i class="fa fa-search"></i>My series</button>
                           
                        </th>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template #modal let-c="close" let-d="dismiss">
                       <div class="modal-header">
                           <h4 class="modal-title">Serie list details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Season</th>
                                        <th>Episode</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of userSeries$ | async; let ind = index;">
                                        <th>{{ind+1}}</th>
                                        <th>{{e.name}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
                        </div>
                    </ng-template>
    </div>
</section>