<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="text-center">
                  <h2 class="section-heading">Daily calendar</h2>
              </div>
              <ul class="timeline">
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                      </div>
                      <div class="timeline-panel" style="margin-left: -3rem">
                          <div class="timeline-heading">
                              <h4>19:00</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted"></p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                      </div>
                      <div class="timeline-panel" style="margin-right: -3rem">
                          <div class="timeline-heading">
                              <h4>20:30</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted"></p>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                      </div>
                      <div class="timeline-panel" style="margin-left: -3rem">
                          <div class="timeline-heading">
                              <h4>21:15</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted"></p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                      </div>
                      <div class="timeline-panel" style="margin-right: -3rem">
                          <div class="timeline-heading">
                              <h4>22:00</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted"></p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <h4>Be Part
                              <br>Of Our
                              <br>Story!</h4>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="text-center">
                      <h2 class="section-heading">Weekly calendar</h2>
                  </div>
                  <ul class="timeline">
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                                  <h4>Monday</h4>
                              
                          </div>
                          <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                  <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                  <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                  <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                  <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                              
                          </div>
                      </li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Tuesday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>
                      <li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Wednesday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Thursday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Friday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Saturday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>
                      <li class="timeline-inverted">
                              <div class="timeline-image">
                                      <h4>Sunday</h4>
                                  
                              </div>
                              <div class="timeline-panel" style="margin-right: -3rem; display:inline-block">
                                      <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                      <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                  
                              </div>
                          </li>    
                         
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Be Part
                                  <br>Of Our
                                  <br>Story!</h4>
                          </div>
                      </li>
                  </ul>
              </div>
      </div>
  </div>
</section>