<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TV Series</h2>
                <br>
            </div>
        </div>
        <div *ngIf="loading; else listBlock">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
            </div>
        </div>
        <ng-template #listBlock>
            <app-genre-filter-buttons [genresInDifferentComponent$]="genres$" (filterEvent)=setGenreFilter($event)></app-genre-filter-buttons>
            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let h of tvserieHeaders">{{h.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of filterTvSeriesOfGenres(genreFilter) | async; let ind = index;">
                        <!--<tr *ngFor="let i of tvseries$ | async | tvseriesGenreFilter: genreFilter; let ind = index;"> Kazkodel neveikia su pipe :(-->
                        <th>{{ind+1}}</th>
                        <th>{{i.name}}</th>
                        <th>{{i.seriesYear}}</th>
                        <th>{{i.seasons}}</th>
                        <th>{{i.genre}}</th>
                        <th>{{i.description}}</th>
                        <th>
                            <button class="btn btn-outline-primary" (click)="open(modal, ind)">
                                <i class="fa fa-search"></i> Serie List</button>
                        </th>
                        <th>
                            <button class="btn btn-danger" (click)="add(i.id)" title="Add to watchlist">
                                <i class="fa fa-heart"></i> Watchlist</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template #modal let-c="close" let-d="dismiss">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Serie list details</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Season</th>
                                    <th>Episode</th>
                                    <th>Date and Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of tvseriesDates$ | async; let ind = index;">
                                    <th>{{ind+1}}</th>
                                    <th>{{e.name}}</th>
                                    <th>{{e.season}}</th>
                                    <th>{{e.serieNumber}}</th>
                                    <th>{{e.timeDate}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>